*{
    firstColor:black;
    secondColor:#dbe0e3;
    -fx-font-family: "System";
    -fx-font-style: italic;
    -fx-font-weight: bold ;
    -fx-border-radius:2px;
    -fx-background-radius:2px;
}
#companyName{
    -fx-text-fill: secondColor;
}
.separator{
    /**-fx-background-color: linear-gradient(to top, transparent, black, transparent);*/
-fx-background-color: firstColor;
}

#head{
    -fx-spacing: 50px;
    -fx-background-color:firstColor ;
    -fx-border-radius:3px 3px 0 0;
    -fx-background-radius:3px 3px 0 0;
}

#Content{
    -fx-background-color: secondColor;
    -fx-alignment: center;
    -fx-padding: 20;
    -fx-spacing: 12px;
    -fx-border-width: 3px;
    -fx-border-color: firstColor;
    -fx-border-radius:0 0 2px 2px;
    -fx-background-radius:0 0 2px 2px;
}
.VBox{
    -fx-background-color: secondColor;

}

.text-field{
    -fx-border-color: firstColor;
    -fx-border-width: 1px;
}


.button{
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-background-color: firstColor;
    -fx-text-fill: secondColor;
}

.button:hover{
    -fx-border-color:firstColor;
    -fx-background-color: lightBlue;
    -fx-text-fill: firstColor;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 10);

}
.button:pressed {
    -fx-background-color: rgb(10,130,230);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 2);
}
.HBox{
    -fx-border-color: firstColor;
    -fx-padding: 5;
    -fx-border-width: 1px;
}

#labelWarning{
    -fx-text-fill: pink;

}
#goodLabel{
    -fx-text-fill: lightgreen;
}
#userLabel{
    -fx-text-fill: firstColor;
}
.deleteButton{
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-background-color: firstColor;
    -fx-text-fill: secondColor;
}

.deleteButton:hover{
    -fx-border-color:firstColor;
    -fx-background-color: pink;
    -fx-text-fill: firstColor;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 10);

}
.deleteButton:pressed {
    -fx-background-color: rgb(200,10,50);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 2);
}

.HBoxAffiliate{
    -fx-border-width: 1px;
    -fx-border-color: firstColor;
    -fx-background-color: secondColor;
    -fx-alignment: center;
}

.labels{
    -fx-text-fill: firstColor;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.scroll-pane{
    -fx-border-width:0;
    -fx-border-color:transparent;
    -fx-background-color:secondColor;

}
.scroll-pane-active{
    -fx-border-width:2px;
    -fx-border-color:firstColor;
}
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: secondColor;
    -fx-padding: 3px;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: firstColor;
    -fx-background-insets: 0 2 0 2;
    -fx-background-radius: 5px;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: secondColor;
    -fx-padding: 3px;
}

.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: firstColor;
    -fx-background-insets: 2 0 2 0;
    -fx-background-radius: 5px;
}

.image-view {
    -fx-effect: dropshadow(three-pass-box, rgba(256,256,256,0.8), 15, 0, 0, 2);
}


#mainBorderPane{
    -fx-padding:50px;
}