/* Estilo general del StackPane de fondo */
#mainPane {
    -fx-background-color: #f0f0f0; /* Un gris muy claro */
}
#mainAnchor{
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #87CEEB 0%, #FFFFFF 100%);
    -fx-border-width: 1px;
    -fx-background-radius:0px 0px 15px 15px; 
    -fx-border-radius:0px 0px 15px 15px;
}


/*#mainBorderPane {
    -fx-background-color: #ffffff; 
    -fx-border-color: #cccccc; 
    -fx-border-width: 1px;
    -fx-background-radius: 15px; 
    -fx-border-radius: 15px;
}
*/

#head {
    -fx-border-width: 1px;
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #007FFF 0%, #87CEEB 100%);
    -fx-background-radius: 15px 15px 0px 0px; 
    -fx-border-radius: 15px 15px 0px 0px;
}

#companyName {
    -fx-font-size: 20px; 
    -fx-font-weight: bold; 
    -fx-text-fill: white;
    -fx-font-family:'Comic Sans MS';
}

/* Estilo para los botones generales */
.button {
    -fx-background-color: transparent; 
    -fx-text-fill:#00BFFF; 
    -fx-border-width: 0; 
    -fx-background-radius: 5px; 
    -fx-font-family:'Comic Sans MS';
}

/* Estilo para botones al pasar el mouse por encima */
.button:hover {
    -fx-text-fill: white; 
    -fx-background-color: #00BFFF;
}
/* Estilo para TextField con bordes redondeados */
.text-field {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px; 
    -fx-text-fill:#00BFFF;
    -fx-prompt-text-fill: lightBlue;
}

/* Estilo para botones de eliminar */
.deleteBtn {
    -fx-background-color: #FFC0CB; /* Rosa */
    -fx-text-fill: white;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

/* Estilo para botones de editar */
.editBtn {
    -fx-background-color: #ADD8E6; /* Celeste */
    -fx-text-fill: white;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

/* Cambia el color al hacer hover sobre botones de eliminar */
.deleteBtn:hover {
    -fx-background-color: #FFA07A; /* Rosa más intenso para el hover */
}

/* Cambia el color al hacer hover sobre botones de editar */
.editBtn:hover {
    -fx-background-color: #00BFFF; /* Celeste más intenso para el hover */
}
#compBtnImg{
     -fx-text-fill: white; 
    -fx-background-color: transparent;
}

#compBtnImg:hover {
    -fx-text-fill: #00BFFF; 
    -fx-background-color: white;
}
.accountsHbox {
    -fx-background-color: #B3E5FC; /* Un celeste más suave */
    -fx-padding: 8px;
}

#accountScroll{ 
   
     -fx-border-width: 0;
    -fx-background-color: transparent;
}